.DS_Store
.idea/
.vscode/

backend/.venv/
backend/.pytest_cache/
backend/.env
backend/**/*.egg-info/
backend/**/*.pyc
backend/**/__pycache__/
sim/.venv/
sim/**/*.egg-info/
sim/**/*.pyc
sim/**/__pycache__/

mod/.gradle/
mod/build/
mod/run/
mod/logs/

convex/node_modules/

*.log
.hud_eval.toml
